/* CSS HEX */
/* --raisin-black: #211a1dff;
--electric-indigo: #6320eeff;
--papaya-whip: #ffecd1ff;
--celestial-blue: #1b98e0ff;
--periwinkle: #b7c3f3ff; */

* {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat, sans-serif;
}

#root {
  background-color: #1b98e0ff;
  background-color: #6320eeff;
  width: 100%;
  height: 100vh;
}